
<%= form_for(@post_comment,:remote=>true,:html=>{:id=>'edit_comment_form'}) do |f| %>
    <div class='validation-error'></div>


    <div class="field">

      <%= f.text_area :message,:id=>'comment_editor' %>
    </div>
    <%= hidden_field_tag 'page',@page   %>

    <div class="actions">
      <%= f.submit "修改" %>
    </div>

<% end %>


