<div id='head'>

  <%= image_tag group.logo.to_s,:width=>100,:height=>100,:class=>'float_left logo' %>
  <div id="group_title" class='float_left'> <%=link_to  group.title, group_path(group) %></div>

</div>