
  <%=tag 'div',{:class=>"#{position}_box"}, true %>
<%=image_tag user.avatar.thumb.url,:height=>32,:width=>32 %>
<%=user.name %>
<%=link_to '加为好友',friendships_path(:friend_id=>user.id),:method=>'post',:class=>'add_friend', :remote=>true %>
   </div>
