<div class="float_left">
<%=render :partial=>'show_partial',:locals=>{:company=>@previous} %>
</div>
<div class="float_right">
	<%=render :partial=>'show_partial',:locals=>{:company=>@current}%>
</div>