<div>
  <% n=0 %>
    <% @companies.each do |company| %>
      <% if n==0 %> <div class="left"> <% end %>
        <%=link_to company.name, company_path(company) %>
      <% if n>19 %> </div> <div class='right'> <% end %>
      <% n+=1%>
    <% end %>
    </div>
</div>
<div>
	<%=link_to '新建教育机构',new_company_path %>
</div>
<div><%=will_paginate @companies,:prev_label=>'上一页',:next_label=>'下一页'%></div>