<div class='columns_list'>

 <ul class='columns' data-columns='2'>
   <%=render "list_name"%>
 </ul>  
</div>
<div>
	<%=link_to '新建教育机构',new_company_path %>
</div>
<div><%=will_paginate @companies,:prev_label=>'上一页',:next_label=>'下一页'%></div>