
<h1>课程分类</h1>

  <% Category.roots.order('id').each do |item| %>
    <ul >   <li>   <%= item.name %>
        <ul><% item.children.each do |second| %>

              <li> <%=link_to second.name,category_lesson_path(second.id) %>

              </li>

          <% end %>
        </ul>
      </li>
    </ul>
  <% end %>

