<div>
	<div class='float_left'>
		<%=render :partial=>'course_partial',:locals=>{:lesson=>@previous} %>
	</div>
	<div class='float_right'>
		<%=render :partial=>'course_partial',:locals=>{:lesson=>@current}%>
	</div>
</div>