.set_point{
    min-height: 400px;
    width: 700px;
}

.small_map{
     min-height: 300px;
     width: 400px;
}

.course_map {
    float:right;
}
#lesson_map{
      height:250px;
      width: 250px;
      margin: 5px;
      padding: 5px;
}

.map_notice{
	color:red;
}


