

#wrap_title{
    font-size: 14px;
    background:lightgray;
    height:25px;
    margin: 5px;
    border: 1px solid;
}
#post_title{

      font-size:18px;
      font-weight: bold;
      margin: 10px 5px;
      position: relative;
     height:30px;
      line-height: 30px;

}



 .post_user {
    background: lightgray;
    float:left;
     position:relative;
    width:130px;
     text-align: center;
     min-height:145px;
}

.post_item{


    position:relative;
    border-bottom-style: solid;
    border-width: 1px;
    position:relative;
    width:100%;
}

.post_messages{
    position:relative;
    float:left;

    height:auto;
    width:800px;
    min-height:145px;
}
.post_comment_utility{
    position:inherit;
    float:right;
    bottom:0;
}
.post_content{
    margin: 15px;
}

.post_titles{
    font-size:16px;
    width: 380px;
}
#comment_area{
    width:600px;
    margin: 20px auto;
}

#group_title{

    font-size:24px;
    line-height:70px;
    margin:10px;
    padding:5px;
    font-weight:900;
    text-align:center;
    min-width:160px;

}

#group_title a{
    text-decoration: none;
}

.post_utility{
    font-size: 12px;
    margin: 5px;
    background:lightgray;
    height: 25px;
}

.logo {
    width: 100px;
    height: 100px;
    margin: auto 5px;
}

.comment_area{
    width:600px;
    margin: 5px auto;
}

.small_box{
    width:30px;
    height:20px;

    border: 1px solid #cccccc;
    position:relative;
    background: rgb(231,231,231);
    margin: 5px auto;
    line-height:20px;
    border-radius: 5px 5px 0px 5px;
}

.small_box:before{
    content: ' ';
    width:0px;
    height:0px;
    border-color: #cccccc transparent transparent transparent;
    border-width: 6px 0px 0px 6px;
    border-style:solid;
    top:100%;
    right:-1px;
    position:absolute;
}

.small_box:after{
    content: ' ';
    width:0px;
    height:0px;
    border-color:rgb(231,231,231) transparent transparent transparent;
    border-width: 3px 0px 0px 5px;
    border-style:solid;
    top: 100%;
    right:0px;
    position:absolute;
}

.posts_title_list{
    min-height:50px;
    overflow:hidden;
    border-bottom: 1px solid #cccccc;
    margin: 5px 0px;
    line-height:40px;
    font-size:14px;
}

#post_list,#dylist{
    margin:0px;
}

.posts_title_list li{
    float:left;
}

.reply_count{
    width:100px;
    text-align:center;
    position:relative;
}

.utility{
    height:20px;
    font-size:12px;
    margin:0px;
    overflow:hidden;
    line-height:20px;
    float:right;
}

.box{
    border:1px solid #aaaaaa;
    color:white;
    width:30px;
    height:20px;
    border-radius: 2px;
    font-size:12px;
    line-height:20px;
    display:inline;
    margin:0px 2px;
    text-align:center;
}

.bred{
    background-color:red;
}

.bblue{
    background-color:blue;
}

.lists{
    margin: 5px;
    padding: 0px;
    font-size: 12px;
    overflow:hidden;
    border: 1px solid #cccccc;
}

.lists li{
    list-style-type: none;
    float:left;
    min-width:100px;
    min-height: 30px;
    line-height:20px;
    border-bottom: 1px solid rgb(223,223,223);
}

.lists ul a{
    text-decoration:none;
}

.user_messages{
  width:200px;
}

.myicon{
  width: 16px;
  height: 16px;
}

.post_item_phone{
  margin: 4px 0px;
  border: 1px solid rgb(223,223,223);
  padding: 2px 5px;
  border-radius: 5px;
  background: rgb(255,255,255);
  h3{
    font-size: 20px;
    
  }
  a{
    text-decoration:none;
    color: black;
  }
  .phone_utility{
    font-size: 12px;
    height: 20px;
    line-height:20px;
   
  }
}