.date_picker{
    width: 98px;
    text-align: center;
    position:relative;
    z-index:9999;
}



h1 {
    text-align:center;
}

#timetable{
    width:500px;
    float:left;

}

#timetable_detail{
    width:500px;
    float:left;
}